# Core
NODE_ENV="development"
DATABASE_URL="postgresql://user:password@localhost:26257/staynex?schema=public"
API_PORT="4000"
CORS_ORIGIN="http://localhost:3000"

# Frontend
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000"
GOOGLE_MAPS_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RESEND_API_KEY=""
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""
CLOUDFLARE_R2_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_R2_BUCKET=""
GEMINI_API_KEY=""
